.page-header
  %h1 Welcome
= row do
  = col_md 7 do
    %p.lead
      Welcome to the admin console.  From here you can manage admin users,
      application data, extensions, and view API documentation.
  = col_md 5 do
    = panel heading: 'Base API' do
      %code https://vast-chamber-1788.herokuapp.com/api/v8


= row do
  = col_md 7 do
    = table do
      %thead
        %tr
          %th Object
          %th.text-right Count
      %tbody
        
        %tr
          
          %td= link_to 'Weather By Zips', admin_weather_by_zips_path
          
          %td.text-right
            
            .text-muted= "n/a"
            
        
