= panel heading: 'Reset Password' do
  = simple_form_for resource, url: password_path(resource_name) do |f|
    = f.error_notification
    = f.error :base
  
    = f.input :email, autofocus: true, wrapper: :bootstrap_basic
    = btn_submit f, 'Send password reset'
  
= render 'devise/shared/links'
