.row
  .col-md-3
    = render partial: 'admin/admin_sidebar', locals: { active: 'get_city_weather_by_zips' }
  .col-md-9
    %ul.breadcrumb
      %li
        = link_to 'Home', admin_root_path
      %li.active Get City Weather By Zips
    
    .page-header
      %h1 Get City Weather By Zips
      %a.btn.btn-primary{href: new_admin_get_city_weather_by_zip_path}
        %i.fa.fa-plus
        New

    - unless @get_city_weather_by_zips.empty?
      = table do
        %thead
          %tr
            
            
            
            
            %th Get City Weather By Zip Result
            
            
            
            %th Zip Code
            
            
            %td
        %tbody
          - @get_city_weather_by_zips.each do |get_city_weather_by_zip|
            %tr
              
              
              
              
              %td= link_to (get_city_weather_by_zip.get_city_weather_by_zip_result or ''), admin_get_city_weather_by_zip_path(get_city_weather_by_zip)
              
              
              
              %td= link_to (get_city_weather_by_zip.zip_code or ''), admin_get_city_weather_by_zip_path(get_city_weather_by_zip)
              
              
              %td.text-center
                %a{href: edit_admin_get_city_weather_by_zip_path(get_city_weather_by_zip), rel: 'tooltip', title: 'Edit'}
                  %i.fa.fa-pencil
                &nbsp;
                &nbsp;
                %a{href: admin_get_city_weather_by_zip_path(get_city_weather_by_zip), data: {confirm: 'Are you sure?', method: 'delete'}, rel: 'tooltip nofollow', title: 'Delete'}
                  %i.fa.fa-trash-o
      
    - else
      .alert
        %h4 No Get city weather by zips yet
        There are no Get city weather by zips to list.
        = link_to 'Create a new one', new_admin_get_city_weather_by_zip_path, class: 'btn btn-mini'
