%ul.breadcrumb
  %li
    = link_to 'Home', admin_root_path
    
  %li
    
    = link_to 'Get city weather by zips', admin_get_city_weather_by_zips_path
    
    
  %li.active Get city weather by zip

.page-header
  %h1 Get city weather by zip
  %a.btn.btn-primary{href: edit_admin_get_city_weather_by_zip_path(@get_city_weather_by_zip)}
    %i.fa.fa-pencil
    Edit

= table do
  
  %tr
    %td Id
    %td= @get_city_weather_by_zip.id
  
  %tr
    %td Get City Weather By Zip Result
    %td= @get_city_weather_by_zip.get_city_weather_by_zip_result
  
  %tr
    %td Zip Code
    %td= @get_city_weather_by_zip.zip_code
  
