!!!
%html{lang: 'en', 'xml:lang' => 'en', xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %title WeatherSoapApp
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = content_tag :script, '', type: 'text/javascript', src: (request.ssl? ? 'https' : 'http') + '://maps.google.com/maps/api/js?sensor=true'
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_tag "if (window.Ext) {Ext.Ajax.extraParams = { authenticity_token: '#{form_authenticity_token}' };}"
  %body
    .container
      = yield